/* CSS Document */

body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; line-height:20px; margin:0 }

input.txt, select { background-color: #dddddd; color:#000000 }
input.err { background-color:#ff8888; color:#000000 }

a:link, a:visited {
	font-size: 12px;
	font-weight: bold;
	color:#990000;
	text-decoration: none;
}
a:hover, a:active {
	font-size: 12px;
	font-weight: bold;
	color:#ff6600;
	text-decoration: none;
}
a.link_menu:link, a.link_menu:visited {
    display: block;
	background-color: #ff5500;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color:#444444;
	text-decoration: none;
	text-align: left;
	padding-top: 2px;
	padding-left: 20px;
	height: 23px;
	width: 171px;
}
a.link_menu:hover {
    display: block;
	background-color: #ff7700;
	color:#ffffff;
	font-weight: bold;
}
a.link_menu#active {
    display: block;
	background-color: #ee0000;
	color:#ffffff;
	font-weight: bold;
}
a.meta_menu:link, a.meta_menu:visited {
  color: #999999;
  font-weight:bold;
  text-decoration: none;
}
a.meta_menu:hover, a.meta_menu:active {
  color: #ffffff;
  font-weight:bold;
  text-decoration: none;
}
.pagecontent {
  padding-top: 3%;
  max-width: 98%;
}


/* Login Form */

body{
  background-color: #ECECEA ;
}
html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

.panel-default{
  margin-top: 160px;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}






